@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #292929;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.today {
    background: #000000;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-text {
    font-size: 22px;
    font-weight: 500;
}

.date {
    font-size: 19px;
    margin-bottom: 5px;
}

.status-img {
    width: 78px;
}

.temp {
    font-size: 23.5px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.other-data {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    padding: 9px;
    width: 260px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.other-data:nth-child(4) {
    margin-bottom: 25px;
}

.other-data-text {
    margin-right: auto;
    font-size: 18px;
}

.other-data-status {
    font-size: 18px;
}

.uv-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #AD7CFF;
    padding: 5px;
    border-radius: 25px;
}

.uv-container.expanded {
    width: 150px;
    height: 25px;
    border-radius: 15px;
    padding: 15px;
}


.uv-container:hover {
    cursor: pointer;
}

.uv {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.info {
    width: 22px;
    margin-right: 5px;
}

.info-text {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.data-img {
    width: 30px;
    margin-right: 7.5px;
}

.forecast-days {
    background: #000000;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day {
    background: #292929;
    width: 95%;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.forecast-day:nth-child(4) {
    margin-bottom: 0;
}

.forecast-day-img {
    width: 30px;
    margin-right: 7.5px;
}

.forecast-day-temp {
    margin-left: auto;
}

.forecast-day-name {
    margin-right: 7.5px;
}

.forecast-title {
    font-size: 19px;
    margin-bottom: 10px;
}

.pressure {
    font-size: 15px;
}

.slider-container {
    width: 300px;
    margin: 20px;
}
  
#hour-slider {
    height: 20px;
    background: #ccc;
}
  
#selected-hour {
    text-align: center;
    margin-top: 10px;
}
  
.weather-slider {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 120px;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
  
.weather-slide {
    display: inline-block;
    width: 80px;
    height: 115px;
    background: #000000;
    margin-right: 5px;
    text-align: center;
    /* line-height: 100px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-img {
    margin-top: 10px;
    width: 40px;
}

.slide-temp {
    font-size: 25px;
}

.slide-wind {
    margin-bottom: 10px;
}