@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #292929;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.today {
    background: #000000;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    font-size: 22px;
    font-weight: 500;
}

.date {
    font-size: 19px;
    margin-bottom: 5px;
}

.status-img {
    width: 78px;
}

.temp {
    font-size: 23.5px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.other-data {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    padding: 9px;
    width: 260px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.other-data:nth-child(3) {
    margin-bottom: 25px;
}

.other-data-text {
    margin-right: auto;
    font-size: 18px;
}

.other-data-status {
    font-size: 18px;
}

.uv {
    background: #AD7CFF;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 25px;
}

.data-img {
    width: 30px;
    margin-right: 7.5px;
}

.forecast-days {
    background: #000000;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day {
    background: #292929;
    width: 95%;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.forecast-day-img {
    width: 30px;
    margin-right: 7.5px;
}

.forecast-day-temp {
    margin-left: auto;
}

.forecast-day-name {
    margin-right: 7.5px;
}